.header {
  padding-top: 64px;
}

.upload-button {
  text-align: center;
  width: 112px;
  padding: 30px;
  margin: 16px;
}

.outlined {
  outline-style: dotted;
  outline-width: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-16 {
  margin: 16px;
}
